############################################
# SQLite runtime databases
############################################
*.db
*.sqlite
*.sqlite3

############################################
# SQLite transient files
############################################
*.db-shm
*.db-wal

############################################
# Local development DBs
############################################
local.db
dev.db
